body {
  font-family: 'Courier New', Courier, monospace !important;
}
h1, .h1 {
  font-family: 'Francois One', sans-serif;
  font-size: 5rem !important;
}
.brand-patch {
  border: 1px solid lightgrey;
  min-height: 200px;
  position: sticky;
  height: 800px;
}
.brand-patch-para {
  margin-bottom: 0;
}
.brand-patch-huge-text {
  font-size: 7rem;
  border-bottom: 2px solid black;
  margin-bottom: 10px;
}


