body {
  font-family: 'Courier New', Courier, monospace !important;
}
.h1, h1, .h2, h2, .h3, h3, .h4, h4 {
  font-family: 'Nixie One', cursive;
  font-weight: 900 !important;
}
.brand-patch {
  min-height: 1000px;
}
.brand-patch-heading {
  font-size: 5rem;
  line-height: inherit;
}
.brand-patch-para {
  margin-bottom: 0;
  color: grey;
}
.brand-patch-huge-text {
  margin-bottom: 0;
  display: flex;
  justify-content: center;
}
.brand-icon {
  min-height: 350px !important;
  min-width: 350px !important;
  height: 350px !important;
  width: 350px !important;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}