body {
  font-family: 'Courier New', Courier, monospace !important;
}
h1, .h1 {
  font-family: 'Francois One', sans-serif;
  font-size: 5rem !important;
}
.brand-patch {
  border-right: 1px solid lightgrey;
}
.brand-patch-para {
  margin-bottom: 0;
}
.brand-patch-huge-text {
  font-size: 7rem;
  border-bottom: 2px solid black;
  margin-bottom: 10px;
}


